/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #04152f;
  --first-color-alt: #04152f;
  --title-color: #04152f;
  --text-color: #333333;
  --text-color-light: #00000070;
  --body-color: #c3c9d0;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
.nav__menu
/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #c3c9d0;
  --text-color: #C7D1CC;
  --body-color: #04152f;
  --container-color: #020202;

  #home{
    color: black;
  }

  .services__description{
    color: #C7D1CC;
  }

  #popupName{
    color:#04152f;
  }

  .card{
    box-shadow: 0 .5rem 1rem #c3c9d020;

    .bttn{
      background-color: #ee1c25;
      color: #c3c9d0;
    }

    .bttn:hover{
      background-color: #c3c9d0;
      color: #ee1c25;
    }
  }
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  padding-bottom: 3%;
  box-shadow: #000000 0px .2px .3px;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #04152f;
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);

    .change-theme{
      color: #C7D1CC;
    }
  }
}

@media screen and (max-width: 768px){
  .nav__logo{
    width: 40px;
    margin: 1%;
  }
}

.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle{
  color: #b0bec5;
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--body-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: #ee1c2580;
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  top: var(--header-height);
}

/* Active menu */
.active-link{
  color: #ee1c25;
  font-weight: 500;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: #eabe2a50;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color-alt);
}

.scrolltop__icon{
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
#home{
  background-image: url(/assets/img/Web\ bg\ sample.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width:992px){
  #home{
    background-position: 60% 0;

    .home__data{
      height: 45vh;
    }

  }
}

.home__container{
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

/* .home__img{
  width: 190px !important;
  height: 450px;
  margin-top: 12vh;
  padding: 7%;
  justify-self: center;
  border-radius: 300px;
} */

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #ee1c25;
  padding: .4rem .6rem;
  border-radius: 3rem;
  transition: .3s;
  font-size: .8rem;
  font-weight: 110%;
}

.button:hover{
  background-color: #ee1c25;
  color: #04152f;
}

/*========== ABOUT ==========*/
#about{
  background-image: url(/assets/img/ABOUT\ CARD.jpg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about__data{
  text-align: right;
  padding-left: 50%;
}

.about__description{
  margin-bottom: var(--mb-3);
  text-align: right;
}

.about__button{
  display: flex;
  flex-direction: row-reverse;

  .button{
    border: 3px solid #04152f;
    background: transparent;
    color: #04152f;
  } 

  .button:hover{
    border-color: #27ae60;
    color: #27ae60;
  }
}

/*========== SERVICES ==========*/
.services__container{
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content{
  text-align: center;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description{
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
#menu{
  margin-bottom: 7%;
}

.menu__container{
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  align-items: center;
}

/* .menu__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #eabe2a70;
  border-radius: .5rem;
  box-shadow: 0 7px 4px rgba(3,74,40,.75);
}

.menu__img{
  width: 130px;
  height: 130px;
  border-radius: .5rem;
  align-self: center;
  margin-bottom: 3%;
  
} */

.menu_content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 3%;
  contain: content;
}

.menu_img{
  width: 250;
  height: 270;
  align-self: center;
  margin-bottom: 3%;
}

.product_info{
  display: flex;
  flex-direction: row;
  width: 210px;
  align-items: start;
  justify-content: space-around;
  margin-bottom: 3%;
}

.menu__name, .menu__preci{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name{
  font-size: var(--normal-font-size);
}

.menu__detail, .menu__preci{
  font-size: var(--small-font-size);
  color: green;
}

.menu__detail{
  margin-bottom: var(--mb-1);
  color: #707070;
}

.menu__button{
  position: relative;
  bottom: 0;
  left: 0;
  padding: 1rem 1rem;
  border-radius: 3rem;
  display: flex;
}

/*========== APP ==========*/
.app__data{
  text-align: center;
}

.app__description{
  margin-bottom: var(--mb-5);
}

.app__stores{
  margin-bottom: var(--mb-4);
}

.app__store{
  width: 120px;
  margin: 0 var(--mb-1);
}

.app__img{
  width: 430px !important;
  height: 430px;
  justify-self: center;
}

/*========== CONTACT ==========*/
#contact{
  text-align: center;
  background-image: url(/assets/img/Contact\ us\ bg.png);
  background-size:cover;
  background-repeat: no-repeat;
}

.app__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact__data{
  display: flex;
  flex-direction: column;
}

.contact__description{
  margin-bottom: var(--mb-3);
}

.socials{
  .footer__social:hover{
    color: #ee1c25;
  }
}

/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  img {
    height: 100px;
    align-self: center;
  }
}

.footer__description{
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 0 var(--mb-3);
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link{
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover{
  color: #ee1c25;
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }
}

.contact__data{

  .button{
    border-color: #ee1c25;
    background-color: #ee1c25;
  }
  .button:hover{
    background-color: #04152f;
    color:  #ee1c25;
    border-color: #04152f;
   }
}
 

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img{
    width: 500px;
  }

  .about__container,
  .app__container{
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}

/* admin */
html{
  overflow-x: hidden;
}

.admin-product-form-container form .btn{
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: .5rem;
  margin-top: 1rem;
  font-size: .9rem;
  background-color: var(--first-color);
  color: #ee1c25;
  padding: .75rem 1rem;
  border-radius: 3rem;
  transition: .3s;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
}

.admin-product-form-container form .btn:hover{
  background-color: #ee1c25;
  color: #04152f;
}

.message{
  display: block;
  background: #b0bec5;
  padding: 1.5rem 1rem;
  font-size: 1rem;
  color:#04152f;
  margin-bottom: 1rem;
  text-align: center;
}

.container{
  max-width: 500px;
  padding: 2rem;
  margin: 0 auto;
  color: #000000;
}

.admin-product-form-container .centered{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.admin-product-form-container form{
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  background:#707070;
}


.admin-product-form-container form .box{
  width: 100%;

  padding: .5rem .5rem;
  font-size: 1rem;
  margin: .7rem 0;
  background: white;
}


@media (max-width:991px) {
  
  html{
    font-size: 55%;
  }

}

@media (max-width:768px){

  .product-display{
    overflow-y: scroll;
  }

  .product-display .product-display-table{
    width: 80rem;
  }
  
}

@media (max-width:450px) {
  
  html{
    font-size: 50%;
  }

}

/* product display for deleting and editing */

.product-display{
  margin: 2rem 0;
}

.product-display .product-display-table{
  width: 100%;
  text-align: center;
}

.product-display .product-display-table thead{
  background: #707070;
}

.product-display .product-display-table th{
  padding: .7rem;
  font-size: 1rem;
}

.product-display .product-display-table td{
  padding: .7rem;
  font-size: 1rem;
  border-bottom: .1rem solid var(--first-color);
}

/* shop */
.shop_window{
  padding: 0;
  margin-top: 12%;
}

.shop_window .product_window{
  max-width: 1500px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  
}

.caption{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 3%;
  
  height: 17%;
  font-size: 1rem;
}

.card{
  max-width: 250px;
  flex: 1 1 210px;
  height: 300px;
  margin: 1.5rem;
  padding: .3rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  /* outline: .1rem solid var(--first-color); */
  /* outline-offset: -.3rem; */

  .image{
    height: 60%;
    margin-bottom: 15px;
    
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

}

.card:hover{
  outline: .1rem solid white;
  outline-offset: 0;
  cursor: pointer;
}

/* .bttn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  width: 20%;
} */

.calltoaction{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bttn{
  display: inline-block;
  background-color: var(--first-color);
  color: #ee1c25;
  padding: .8rem 1rem;
  border-radius: 3rem;
  transition: .3s;
  margin-top: 9%;
  z-index: 1;
}

.bttn:hover{
  background-color: #ee1c25;
  color: #04152f;
}

/* product popup preview */

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: .3rem;
    text-align: center;
    max-width: 30%;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media(max-width:900px){
  .popup-content{
    max-width: 80%;
  }
}

.product_discription{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
  padding: 1%;

  h2{
    font-size: 1.5rem;
  }

  .popupPrice{
    font-size: 1.2rem;
  }

}

.reviewbuttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3%;
  padding: 3%;

  .button{
    margin: 3px;
  }
  
}

#close{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.close {
  margin-bottom: -10%;
    cursor: pointer;
    color: red;
    font-size: 20px;
    position: relative;
    object-position: left;
    top: 10px;
    right: 15px;
    transition: color 0.3s ease;
    transform: 0.3s;
}

.close:hover{
  color: #ee1c25;
  transform: rotateX(90);
}

/* Data collection form for email orders */
#clientInfo{
  padding: 10px 0;

  input[type="email"],
  input[type="tel"] {
  width: 40%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  }

  .button{
    border: 3px solid #04152f;
    background: transparent;
    color: #04152f;
  } 
  .button:hover{
    border-color: #27ae60;
    color: #27ae60;
  }

  .cancel:hover{
    border-color: #ee1c25;
    color: #000000;
    background-color: #ee1c25;
  }
}


/* loggin for admin panel */

.formLoggin{
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  margin: 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  input[type="text"],
  input[type="password"] {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #04152f;
    color: #c3c9d0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

  input[type="submit"]:hover {
      background-color: #ee1c25;
      color: #04152f;
  }

  p {
    text-align: center;
    color: #ee1c25;
  }


}